/* Footer CSS */
.footer {
  font-family: poppins, sans-serif;
  background-color: #032305;
  padding: 1.5% 0;
  color: #ffffff;
  position: relative;
  text-align: center;
}

.footer-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 10px;
}

.footer-column {
  flex: 1 1 100%;
  padding: 10px;
}

.footer-column h3 {
  font-weight: bold;
  font-size: 6vw; 
  margin-bottom: 10px;
}

.footer-column p {
  margin: 5px 0;
  font-size: 4vw; 
}

.footer-column a {
  color: #ffffff;
  text-decoration: none;
  font-size: 4vw; 
}

.footer-column a:hover {
  opacity: 70%;
  transition: opacity 0.3s ease;
}

.footer-bottom {
  text-align: center;
  padding-top: 10px;
  transition: border-top 0.3s ease;
}

.footer-bottom p {
  margin: 0;
  font-size: 3.5vw; }


.social-icons {
  display: flex;
  justify-content: center;
  padding-top: 10px;
  gap: 10px;
}

.social-icons a {
  margin: 0 5px;
}

.social-icons img {
  width: 8vw; 
  height: auto;
  transition: opacity 0.3s ease, transform 0.3s ease;
}

.social-icons img:hover {
  transform: scale(1.25);
  opacity: 70%;
}


@media (min-width: 600px) {
  .footer-column {
      flex: 1 1 45%; }

  .footer-column h3 {
      font-size: 5vw;
  }

  .footer-column p, .footer-column a {
      font-size: 3.5vw;
  }

  .footer-bottom p {
      font-size: 3.5vw;
  }

  .social-icons img {
      width: 6vw;
  }

  .social-icons {
      gap: 15px;
  }
}

@media (min-width: 768px) {
  .footer-column {
      flex: 1 1 30%; 
  }

  .footer-column h3 {
      font-size: 4vw;
  }

  .footer-column p, .footer-column a {
      font-size: 3vw;
  }

  .footer-bottom p {
      font-size: 3vw;
  }

  .social-icons img {
      width: 5vw;
  }

  .social-icons {
      gap: 20px;
  }
}

@media (min-width: 992px) {
  .footer-column {
      flex: 1;
  }

  .footer-column h3 {
      font-size: 24px;
  }

  .footer-column p, .footer-column a {
      font-size: 18px;
  }

  .footer-bottom p {
      font-size: 16px;
  }

  .social-icons img {
      width: 2vw;
  }

  .social-icons {
      gap: 25px;
  }
}
