.about-us-section {
    background-color: #ffffff;
    padding-top: 5.5%;
    padding-bottom: 10%;
}

.about-us-content {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    max-width: 80vw;
    margin: 0 auto;
}

.about-us-image{
    flex: 1;
    padding-right: 10%;
    padding-top: 10%;
    
}
.about-us-image.animate{
    animation: flyInLeft 1s ease forwards;
}
.about-us-text.animate{
    animation: flyInRight 1s ease forwards;
}

.about-us-image img {
    max-width: 40vw;
    height: auto;
    display: block;
    border-radius: 10px;
    transition: transform 0.5s ease;
    box-shadow: 2.5px 5px 12px #0f0f0f90;
  }

  @keyframes flyInLeft {
    0% {
        transform: translateX(-100%);
        opacity: 0;
    }
    100% {
        transform: translateX(0);
        opacity: 1;
    }
}
@keyframes flyInRight {
    0% {
        transform: translateX(100%);
        opacity: 0;
    }
    100% {
        transform: translateX(0);
        opacity: 1;
    }
}

.about-us-image img:hover{
    transform: scale(1.025);
    transition: transform 0.75s ease, box-shadow 0.75s ease;
    box-shadow: 5px 10px 25px #0f0f0f90;
}

.about-us-text {
    flex: 1;
    color: #666666;
}

.about-us-text h2 {
    font-size: 3.1em;
    margin-bottom: 5px;
    background-image: linear-gradient(to right, #026932c3 5%, #06a713ca 10%, #05d168c8 60%, #027224c9 90%);
    -webkit-background-clip: text;
    color: transparent;
}

.about-us-text p {
    font-size: 1.25vw;
    line-height: 1.6;
    margin-bottom: 1%;
}