/* Navbar Styles */
.navbar {
  background-color: #4b4a475b; 
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: 'Rubik', sans-serif;
  padding: 2%;
  margin-top: 0;
  width: 100%;
  height: 6%;
  position: fixed; 
  z-index: 2; 
  backdrop-filter: blur(4px);
}

.logo img {
  height: auto;
  width: 10vw; /* Responsive width */
  margin-left: 2vw;
}

/* Menu Styles */
.menu {
  display: flex;
  gap: 2vw; /* Responsive gap */
  list-style-type: none; 
  padding: 0; 
  margin-right: 7vw; /* Responsive margin */
}

.menu-item a {
  text-decoration: none;
  color: #f6f8f7;
  padding: 1.25vw;
  position: relative;
  font-size: 3vw; /* Responsive font size */
  font-weight: 700;
  font-family: "Nunito Sans", sans-serif;
  text-shadow: 0 20px 10px rgba(0, 0, 0, 0.1);
}

.menu-item a:hover {
  color: #07f379;
}

.menu-item a::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  height: 0.15em; 
  width: 0; 
  background-color: #f5f7f6; 
  transition: width 1s ease; 
}

.menu-item a:hover::after {
  width: 100%; 
}

/* Dropdown Styles */
.dropdown {
  position: relative;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9f0;
  min-width: 10em;
  box-shadow: 0 1em 2em rgba(0, 0, 0, 0.2);
  text-align: center;
}

.tsa-dropdown {
  left: -2em;
  height: 19.3em;
  bottom: -18.5em;
  border: 1px solid #ccc; 
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); 
  top: 100%;
}

.dropdown-content a {
  display: block;
  padding: 1.1em; 
  text-decoration: none;
  color: #333; 
  border-bottom: 0.1em solid rgb(0, 6, 3); 
}

.dropdown-content a:last-child {
  border-bottom: none; 
}

.dropdown-content a:hover {
  background-color: #01040bde; 
  color: rgb(250, 243, 229);
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown-content a:hover::after {
  width: 0; 
}

.menu-item.dropdown::after {
  content: '';
  position: absolute;
  top: 50%;
  right: 0.05em; 
  transform: translateY(-50%);
  width: 0;
  height: 0;
  border-left: 8px solid transparent; 
  border-right: 8px solid transparent; 
  border-top: 8px solid #0dee51; 
}

/* Specific Styles for Solutions Dropdown */
.solution-dropdown {
  background-color: #fff; 
  color: #333; 
  border: 1px solid #ccc; 
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.1); 
  left: 0; 
}

.solution-dropdown a:hover {
  background-color: #131111; 
  color: rgb(250, 246, 246); 
}

.menu-item.dropdown:hover .dropdown-content {
  display: block;
  animation: rollDown 0.5s ease forwards;
}

@keyframes rollDown {
  0% {
    transform: translateY(-10%);
  }
  100% {
    transform: translateY(0);
  }
}

.menu-item.dropdown a::after {
  width: 0; 
}

/* Media Queries */
@media (min-width: 600px) {
  .logo img {
    width: 8vw; 
    margin-left: 2vw;
  }

  .menu {
    gap: 1.5vw; 
    margin-right: 5vw; 
  }

  .menu-item a {
    font-size: 2.5vw; 
  }
}

@media (min-width: 768px) {
  .logo img {
    width: 7vw; 
    margin-left: 2vw;
  }

  .menu {
    gap: 1.5vw; 
    margin-right: 5vw; 
  }

  .menu-item a {
    font-size: 2vw; 
  }
}

@media (min-width: 992px) {
  .logo img {
    width: 6em; 
    margin-left: 2em;
  }

  .menu {
    gap: 2em; 
    margin-right: 7em; 
  }

  .menu-item a {
    font-size: 1.25vw; 
  }
}
