.pollution-section {
    background-image: url('imgs/pollution.jpg');
    background-size: cover; /* Adjust background size as needed */
    background-position: center; /* Center the background image */
    height: 100vh;
    width: 100%; /* Adjust width as needed */
    padding-bottom: 2.5%;
}

.pollution-overlay {
    display: flex;
    margin: 0 auto;
    width: 100%;
    height: 100vh;
    background-color: rgba(15, 15, 15, 0.225); /* Adjust the background color and opacity as needed */
}

.pollution-image {
    flex: 1;
    padding-right: 2%; /* Adjust padding to move the image more to the right */
    padding-top: 15%;
    padding-bottom: 8%;
    display: flex;
    justify-content: flex-end; /* Align the image to the right */
}

.pollution-image img {
    max-width: 40vw;
    height: 32vw;
    display: block;
    border-radius: 10px;
    transition: transform 0.5s ease;
    box-shadow: 2.5px 5px 12px #0f0f0f90;
    margin-right: 4vw;
    filter: brightness(90%); /* Adjust brightness percentage as needed (80% used here) */
    opacity: 90%;
}

.pollution-image img:hover {
    transform: scale(1.025);
    transition: transform 0.75s ease, box-shadow 0.75s ease;
    box-shadow: 5px 10px 25px #0f0f0f90;
}

.pollution-text {
    flex: 1;
    margin-top: 8vh;
    margin-left: 5.5%;
    max-width: 50%; /* Adjust the maximum width as needed */
}

.pollution-text h2 {
    color: rgba(249, 246, 246, 0.982);
    font-size: 4vw;
    margin-bottom: 2.5%;
}

.pollution-text p {
    font-size: 1.25vw;
    line-height: 1.6;
    margin-bottom: 3%; /* Adjust margin as needed */
    color: white;
    filter: brightness(180%); /* Adjust brightness percentage as needed (80% used here) */
}
