@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Outfit&display=swap');

body {
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
  background-color: #ffffff;
  color: #ffffff;
}

body, html {
  margin: 0;
  padding: 0;
  height: 100%;
}

#video-background {
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: -1;
}

.text-overlay {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #ffffff; /* White text color */
  text-align: center;
  z-index: 1;
}

.text-overlay h1 {
  font-size: 7rem;
  font-family: 'Outfit', sans-serif;
  margin-top:19%;
  margin-bottom: 15%;
}

.intro-section{
  position: relative;
  height: 100vh;
}

.progress-container {
  width: 100%;
  height: 6px;
  background-color: #f3f3f3;
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: 1000;
}

.progress-bar {
  height: 100%;
  background-color: #4caf50;
  width: 0;
}
.arrowd {
  position: absolute;
  top: calc(50% + 9.2rem); /* Adjust as needed to position below the overlay text */
  left: 50%;
  transform: translateX(-50%) scale(0.7); 
  font-size: 6em;
}
