@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;600;700&display=swap');

.navbar {
    position: fixed;
    top: 0;
    height: 50px;
    width: 100%;
    z-index: 1000;
}

html, body {
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;
}

main {
    padding-top: 4rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: stretch; 
}

section {
    flex: 1 1 30%; 
    margin: 15px; 
    border: 2px solid #4caf50;
    padding: 20px;
    box-sizing: border-box;
}

.head h1 {
    font-size: 6vw;
    color: #304530;
    position: relative;
    background-color: #9fbb9f;
    padding-top: 1%;
    padding-bottom: 1%;
    border-top: 1.5px solid rgb(22, 55, 29);
    border-bottom: 1.5px solid rgb(22, 55, 29);
}

@keyframes expandBar {
    0% {
        left: 4%;
        width: 0%;
    }
    100% {
        width: 92%;
    }
}

.box h3, .box h2 {
    color: #4caf50;
    text-align: center;
}

.box p {
    line-height: 1.6;
}

.box ul {
    list-style-type: square;
    margin-left: 2.5%;
}

.box img {
    width: 100%;
    height: auto;
    max-width: 100%;
    display: block;
    margin: 0 auto;
}

footer {
    margin-top: 2.5%;
    text-align: center;
}

.head {
    margin-top: 9rem;
    text-align: center;
    background-image: linear-gradient(to right, #02371bc3 5%, #06a713ca 10%, #05d168c8 60%, #027224c9 90%);
    -webkit-background-clip: text;
    color: transparent;
    font-size: 7vw;
}

.box {
    transition: transform 0.75s ease, box-shadow 0.75s ease;
    display: flex;
    flex-direction: column;
    justify-content: space-between; 
    height: 100%; 
}
.box:hover {
    transform: scale(1.025);
    box-shadow: 0px 8px 10px #0f0f0f90;
}

.progress-container {
    width: 100%;
    height: 6px;
    background-color: #f3f3f3;
    position: fixed;
    bottom: 0;
    left: 0;
    z-index: 1000;
}

.progress-bar {
    height: 100%;
    background-color: #4caf50;
    width: 0;
}

@media (min-width: 600px) {
    .head h1 {
        font-size: 5vw;
    }

    .box h3, .box h2 {
        font-size: 4vw;
    }

    .box p, .box ul, .box a {
        font-size: 3vw;
    }

    footer {
        font-size: 3.5vw;
    }
}

@media (min-width: 768px) {
    section {
        width: 45%;
    }

    .head h1 {
        font-size: 4vw;
    }

    .box h3, .box h2 {
        font-size: 3.5vw;
    }

    .box p, .box ul, .box a {
        font-size: 2.5vw;
    }

    footer {
        font-size: 3vw;
    }
}

@media (min-width: 992px) {
    main {
        flex-direction: row;
        justify-content: space-around;
    }

    section {
        width: 30%;
    }

    .head h1 {
        font-size: 2rem;
    }

    .box h3, .box h2 {
        font-size: 1.5rem;
    }

    .box p, .box ul, .box a {
        font-size: 1rem;
    }

    footer {
        font-size: 1rem;
    }
}
