.top-divider, .bottom-divider {
  background-color: rgb(228, 251, 228);
  padding: 3px;
}

.solution-container {
  background-color: white;
  padding: 4%;
  box-sizing: border-box;
}

.solution-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 100%;
  margin: 0 auto;
  text-align: center;
}

.solution-text {
  color: #666666;
  text-align: center;
}

.solution-text h2 {
  font-size: 3vw;
  color: #304530;
  position: relative;
  margin-bottom: 1em;
}

.solution-text h2::after {
  content: '';
  position: absolute;
  height: 3px;
  background-color: #f0f2f0;
  bottom: -3px;
  left: 0%;
  width: 100%;
  animation: expandBar 0.75s ease-in-out forwards;
}

.soluion-text p {
  font-size: 1.5vw;
  line-height: 1.6;
  margin-bottom: 15px;
}

.solution-column {
  background-color: #ffffff;
  margin-top: 2em;
}

.solution-column-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 100%;
  margin: 0 auto;
}

.solution-graph {
  flex: 1;
  padding-top: 0%;
  position: relative;
  text-align: center;
}

.solution-graph img {
  max-width: 90%;
  height: auto;
  display: block;
  border-radius: 10px;
  transition: transform 0.75s ease, box-shadow 0.75s ease;
  box-shadow: 2.5px 5px 12px #0f0f0f90;
}

.solution-graph img:hover {
  transform: scale(1.05);
  box-shadow: 5px 10px 25px #0f0f0f90;
}

.solution-column-text {
  color: #666666;
  text-align: center;
}

.solution-column-text h2 {
  font-size: 3vw;
  margin-bottom: 2em;

  color: transparent;
}

.solution-column-text p {
  font-size: 1.5vw;
  line-height: 1.6;
  margin-bottom: 2em;
}


@media (max-width: 1024px) {
  .solution-text h2 {
      font-size: 4vw;
  }
  
  .soluion-text p {
      font-size: 2vw;
  }

  .solution-column-text h2 {
      font-size: 4vw;
  }

  .solution-column-text p {
      font-size: 2vw;
  }
}

@media (max-width: 768px) {
  .solution-text h2 {
      font-size: 5vw;
  }

  .soluion-text p {
      font-size: 3vw;
  }

  .solution-column-text h2 {
      font-size: 5vw;
  }

  .solution-column-text p {
      font-size: 3vw;
  }
}
