.pollution-section {
    background-image: url('../imgs/pollution.jpg');
    background-size: cover;
    background-position: center;
    height: 100vh;
    width: 100%;
    padding-bottom: 2.5%;
    box-sizing: border-box;
}

.pollution-overlay {
    display: flex;
    flex-wrap: wrap; 
    margin: 0 auto;
    width: 100%;
    height: 100vh;
    background-color: rgba(15, 15, 15, 0.225);
}

.pollution-image {
    flex: 1;
    padding: 15% 2% 8% 2%; 
    display: flex;
    justify-content: flex-end;
}

.pollution-image img {
    max-width: 100%;
    height: auto;
    display: block;
    border-radius: 10px;
    transition: transform 0.5s ease;
    box-shadow: 2.5px 5px 12px #0f0f0f90;
    filter: brightness(90%);
    opacity: 90%;
}

.pollution-image img:hover {
    transform: scale(1.025);
    box-shadow: 5px 10px 25px #0f0f0f90;
}

.pollution-text {
    flex: 1;
    margin: 8vh 5.5% 0;
    max-width: 100%;
    box-sizing: border-box;
}

.pollution-text h2 {
    color: rgba(249, 246, 246, 0.982);
    font-size: 4vw;
    margin-bottom: 2.5%;
}

.pollution-text p {
    font-size: 1.25vw;
    line-height: 1.6;
    margin-bottom: 3%;
    color: white;
    filter: brightness(180%);
}

@media (max-width: 1024px) {
    .pollution-text h2 {
        font-size: 5vw;
    }

    .pollution-text p {
        font-size: 1.7vw;
    }
}

@media (max-width: 768px) {
    .pollution-text {
        margin: 4vh 3% 0;
    }

    .pollution-image {
        padding: 10% 2% 5% 2%;
    }

    .pollution-text h2 {
        font-size: 6vw;
    }

    .pollution-text p {
        font-size: 2.3vw;
    }
}

@media (max-width: 480px) {
    .pollution-text {
        margin: 2vh 2% 0;
    }
    .pollution-image img {
        margin-right: 0;
    }

    .pollution-text h2 {
        font-size: 7vw;
    }

    .pollution-text p {
        font-size: 3vw;
    }
}
